Created by Errahum https://github.com/Errahum

Linkedin: https://www.linkedin.com/in/erahum/

Mail: mail@erahum.com

Youtube: https://www.youtube.com/@Errahum

### Objective:
Surpass the random walk

# Data Processing

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sys
from pathlib import Path
import importlib.util

# parents[2] refers to the grandparent directory (two levels up)
def dynamic_import(module_name, parent_levels_up=2):
    # Get the absolute path to the parent directory
    current_dir = Path.cwd()
    parent_dir = current_dir.parents[parent_levels_up]
    
    # Define the path to the module
    file_path = parent_dir / 'src' / 'data_management' / f'{module_name}.py'
    data_path = parent_dir / 'data'
    
    # Dynamically import the module
    spec = importlib.util.spec_from_file_location(module_name, str(file_path))
    module = importlib.util.module_from_spec(spec)
    sys.modules[module_name] = module
    spec.loader.exec_module(module)
    
    return module, data_path

# Import the notebook_data_tools module
notebook_data_tools, data_path = dynamic_import('notebook_data_tools')

# Use the imported functions
impute_df = notebook_data_tools.impute_df
delete_duplicates = notebook_data_tools.delete_duplicates
log_return_df = notebook_data_tools.log_return_df

In [2]:
CL = pd.read_csv(data_path / 'extract_transform' / 'CL=F_1d.csv')
CL = CL.drop(['Unnamed: 0'], axis=1)
CL = impute_df(CL)
CL = delete_duplicates(CL)
CL.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2010-01-04 00:00:00,79.629997,81.680000,79.629997,81.510002,81.510002,263542
1,2010-01-05 00:00:00,81.629997,82.000000,80.949997,81.769997,81.769997,258887
2,2010-01-06 00:00:00,81.430000,83.519997,80.849998,83.180000,83.180000,370059
3,2010-01-07 00:00:00,83.199997,83.360001,82.260002,82.660004,82.660004,246632
4,2010-01-08 00:00:00,82.650002,83.470001,81.800003,82.750000,82.750000,310377

In [3]:
CL['Date'] = pd.to_datetime(CL['Date'], format='mixed')

In [4]:
CL.head()

        Date       Open       High        Low      Close  Adj Close  Volume
0 2010-01-04  79.629997  81.680000  79.629997  81.510002  81.510002  263542
1 2010-01-05  81.629997  82.000000  80.949997  81.769997  81.769997  258887
2 2010-01-06  81.430000  83.519997  80.849998  83.180000  83.180000  370059
3 2010-01-07  83.199997  83.360001  82.260002  82.660004  82.660004  246632
4 2010-01-08  82.650002  83.470001  81.800003  82.750000  82.750000  310377

In [5]:
CL.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7367 entries, 0 to 55133
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       7367 non-null   datetime64[ns]
 1   Open       7367 non-null   float64
 2   High       7367 non-null   float64
 3   Low        7367 non-null   float64
 4   Close      7367 non-null   float64
 5   Adj Close  7367 non-null   float64
 6   Volume     7367 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 460.4 KB

In [ ]:
CL['log_return'] = log_return_df(CL['Close'])

In [7]:
CL.head()

,Date,Open,High,Low,Close,Adj Close,Volume,log_return
0,2010-01-04,79.629997,81.680000,79.629997,81.510002,81.510002,263542,NaN
1,2010-01-05,81.629997,82.000000,80.949997,81.769997,81.769997,258887,0.003185
2,2010-01-06,81.430000,83.519997,80.849998,83.180000,83.180000,370059,0.017097
3,2010-01-07,83.199997,83.360001,82.260002,82.660004,82.660004,246632,-0.006271
4,2010-01-08,82.650002,83.470001,81.800003,82.750000,82.750000,310377,0.001088

# Model 1

In [ ]:
# Code